.selectable {
    width: 27%;
    overflow: hidden;
    display: inline-block;
    height: 15px;
    padding: 10px 5px 20px 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 17px;
    font-size: 14px;
    font-weight: bold;
    background-color: #ffffff;
}

label.selectable:hover {
    /* hover時のスタイルはJavaScriptで設定 */
    border: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label {
    border-color: blue;
    background-color: lightblue;
}

.aokusitai {
    color: rgb(45, 77, 255);
}

.backbutton {
    width: 19%;
    height: 30px;
    border-color: rgb(45, 77, 255);
    margin-bottom: 200px;
    margin-right: 85%;
    background-color: #ffffff;
    text-align: left;
    border-radius: 8px;
}

.tag_ln {
    margin-top: 10px;
    margin-bottom: 2px;
    border: 2px solid;
    padding: 2px 5px;
    border-radius: 8px;
}

.koumoku {
    margin-top: 20px;
    margin-bottom: 2px;
    text-align: left;
    margin-left: 15%;
}

.tagbutton {
    margin-top: 10px;
    background-color: #ffffff;
    padding: 10px 24px;
    background: linear-gradient(to right, #6ddcff, #ff4ef8, #ff5d5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    border-image: linear-gradient(to right, #6ddcff, #ff4ef8, #ff5d5d);
    border-image-slice: 1;
}

.syumitter1 {
    font-weight: bold;
    background: linear-gradient(-45deg, #6ddcff, #ff4ef8, #ff5d5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: oblique;
}

.inp {
    width: 70%;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #aaa;
}

.nextbutton {
    margin-top: 10px;
    margin-bottom: 200px;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: #8f8f8f;
    background-color: #fff500;
    color: #A73030;
    font-weight: bold;
}

body {
    text-align: center;
}

.setumeinp {
    width: 70%;
    height: 120px;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #aaa;
    font-size: 17px;
}

.toukougazou {
    position: relative;
    width: 70%;
    height: 240px;
    background-size: cover;
    background-position: center;
    margin: 10px auto;
    object-fit: cover;
    border-radius: 8px;
    background-color: lightgray;
    border: 1.2px solid;
}

.center-button {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    cursor: pointer;
    border: 1.2px solid #ff9929;
    border-radius: 8px;
}

#fileName {
    text-align: center;
    margin-top: 10px;
}

.h1-1 {
    font-weight: bold;
    font-style: oblique;
    font-family: "arial black";
}

.tag_inp {
    width: 50%;
    height: 35px;
    border: 1.2px solid #000000;
    border-radius: 8px;
}

.nizibutton {
    width: 15%;
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    background: linear-gradient(-45deg, #6ddcff, #ff4ef8, #ff5d5d);
    color: #ffffff;
}

.tag_syumi {
    background: linear-gradient(-45deg, #6ddcff, #ff4ef8, #ff5d5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.lastbutton {
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: #8f8f8f;
    background-color: #fff500;
    color: #A73030;
    font-weight: bold;
}
/* .ga{
    margin-top: 100px;
    width: 94%;
    background-color: white;
    border: 1.5px solid;
    border-color: orange;
    border-radius: 8px;
} */
.file-input-wrapper {
    margin-top:93px;
    width:80%;
    height:36px;
    line-height:36px;
    display: inline-block;
    border: 2px solid red;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    background-color: white;
  }
  .file-input-wrapper input[type="file"] {
    display: none;
  }