.selectable {
    display: inline-block; /* ラベルをインラインブロックにする */
    height:15px;
    padding: 10px 5px 20px 5px; /* ラベルの内側の余白を設定 */
    margin: 5px; /* ラベルの外側の余白を設定 */
    border: 1px solid transparent; /* ラベルの枠線を透明に設定 */
    cursor: pointer; /* ポインタカーソルを表示 */
    border-radius:17px;
}

input[type="checkbox"] {
    display: none; /* チェックボックスを非表示にする */
}

input[type="checkbox"]:checked + label {
    border-color: blue; /* チェックされたときのラベルの枠線の色を青に変更 */
    background-color: lightblue; /* チェックされたときのラベルの背景色をライトブルーに変更 */
}
.aokusitai{
    color:rgb(45, 77, 255);
}
.backbutton{
    border-color:rgb(45,77,255);
    margin-right:95%;
    background-color:#ffffff;
}
.tag_ln{
    margin-top:10px;
    margin-bottom:2px;
}
.koumoku{
    margin-top:10px;
    margin-bottom:2px;
    text-align:left;
    margin-left:25%;
}
.tagbutton {
    background-color: #ffffff; /* ボタンの背景色 */
    padding: 10px 24px; /* ボタンのパディング */
    background: linear-gradient(to right, #6ddcff, #ff4ef8, #ff5d5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center; /* ボタンのテキストを中央揃え */
    text-decoration: none; /* ボタンの下線をなしに */
    font-size: 14px; /* ボタンのフォントサイズ */
    cursor: pointer; /* マウスカーソルをポインターに */
    border-radius: 5px; /* ボタンの角丸 */
    border: 1px solid;
    /* ボーダーカラーをグラデーションに */
    border-image: linear-gradient(to right, #6ddcff, #ff4ef8, #ff5d5d);
    border-image-slice: 1; /* グラデーションを全体に適用 */
}