/*centerにしたくないものもcenterになる可能性があるので、削除する可能性あり*/
body {
    text-align: center;
}

/*「Syumitter」用のCSS 黒色用*/
.h1-1 {
    /* letter-spacing: 0.001px; */
    font-style: oblique;
    font-family: "arial black";
}


/* 「Symitter」用のcss 虹色用 */
.h1-2{
    /* font-style: oblique;
    background: linear-gradient(-45deg, #6ddcff, #ff4ef8, #ff5d5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-align: center;
    padding: 10px;
    margin: auto;
    font-family: "Pacifico", cursive;
    font-size: xxx-large;
    background: -webkit-linear-gradient(#ffb380, #ff80bf, #d884e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #aaa;
}

  /* textare だとinputのCSSが効かなかったので */
  .textbox {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #aaa;
  }

input[type="file"]{
    /* display: none; */
}


/* divでまとめた虹の四角部分 */
.frame {
    margin: auto;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    background: linear-gradient(-45deg, #6ddcff, #ff4ef8, #ff5d5d);
    text-align: center;
    color: #ffffff;
}

.nextbutton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: #8f8f8f;
    background-color: #fff500;
    color: #A73030;
    font-weight: bold;  
}


/* aikon用のCSS */
.maru{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.maru2{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}



/* myprofileのユーザー名と名前をちょい左にする */
.left1{
    position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -350px;
}

.table1 td{
    width: 80px;
}

.table-follow{
    margin: auto;
}

.table-follow td{
    padding: 2px;
}


.link{
    text-decoration: none;
    color: #000000;
}

/* profileの趣味タグ用 */
.s-tag{
    padding: 2px 5px;
    margin: 2px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

/* プロフィール文用のCSS */
.profile{
    width: 80%;
    margin: auto;
}

/* プロフィールの投稿とハートのアイコン用 */
.icon1{
    width: 30px;
    height: 30px;
    margin: 0 15% 0 15%;
    padding: 5px;
}
.icon2{
    border-style: solid;
    border-radius: 10%;
    border-image-source: linear-gradient(-45deg, #6ddcff, #ff4ef8, #ff5d5d);
    border-image-slice: 1;
}

/* 「プロフィール編集」ボタン */
.btn-profile{
    display: inline-block;
    padding: 4px 10px;
    text-decoration: none;
    background-color: #d9d9d9;
    color: #000000;
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* myprofileの投稿画像のサイズ */
.size{
    height: 120px;
    width: 120px;
    object-fit: cover;
}


/* 「◀戻る」ボタン */
.btn-mdr{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    /* background-color: none; */
    border: solid 2px #0047FF;
    border-radius: 5px;
    float: left;
    margin-left: 10%;
}
/* 「◀戻る」の「◀」の部分 */
.dli-caret-left {
    display: inline-block;
    vertical-align: middle;
    color: #0047FF;
    line-height: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.375em 0.64952em;
    border-right-color: currentColor;
    border-left: 0;
  }

  /* 画面左上の「◀」 */
  .btn-mdr2 {
    display: inline-block;
    position: fixed;
    top: 30px;
    left: 30px;
    vertical-align: middle;
    color: #0047FF;
    line-height: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 15px 20px;
    border-right-color: currentColor;
    border-left: 0;
  }

.btn-follow0{
    width: 130px;
    background:  linear-gradient(-45deg, #6ddcff, #ff4ef8, #ff5d5d);
    border-radius: 5px;
    /* paddingの値がborderの太さ */
    padding: 2px;
}  

.btn-follow1{
    width: 129px;
    font-weight: bold;
    background: linear-gradient(-45deg, #6ddcff, #ff4ef8, #ff5d5d);
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.btn-follow2{
    width: 129px;
    font-weight: bold;
    background: #ffffff;
    border-style: none;
    border-radius: 5px;

}


/* 新規チャット画面の画面遷移ボタン */
.btn-tag{
    margin: 10px;
    width: 130px;
    height: 30px;
    color: #00b2D9;
    border: solid 2px #00B2D9;
    border-radius: 10px;
}

/* myprofileの趣味タグ追加・削除ボタン */
.puramai{
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    line-height: 1;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.invisible-link {
    text-decoration: none; /* 下線を消す */
    color: transparent;    /* テキストの色を透明にする */
    pointer-events: none;  /* aタグのイベントを無効にする */
}

.invisible-link img {
    pointer-events: auto; /* imgタグのイベントを有効にする */
}

  /* 「フォロワー/フォロー」「グループチャット/ペアチャット」の切り替え用 */
  .switch{
    display: inline-block;
    padding: 4px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  .switch a{
    font-weight: bold;
  }
  .switch2{
    display: inline-block;
    padding: 5px 23px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  .switch-left{
    margin: 0 40px 0 30px;
  }
  .switch-right{
    margin: 0 30px 0 40px;
  }

  .error {
    color: red;
    display: none;
  }


